# Picard Web
PICARD_TAG=latest
TRAEFIK_TAG=latest

# Must match the owner (uid:gid) of V_CONFIG_DIR and V_MUSIC_DIR on the host
PUID=1000
PGID=1000

V_CONFIG_DIR=<path for picard configs>
V_MUSIC_DIR=<path to music folder>

ALLOW_HTTP=true
